user_email = "YOUR EMAIL HERE"
source_emails = ['alerts@hdfcbank.net', 'alerts@axisbank.com']
axis_card_details = [
    { last4 = "1234", name = "Axis Ace" },    # last4 is the last 4 digits of your credit card
    { last4 = "2345", name = "Airtel Axis" },
]
hdfc_card_details = [{ last4 = "2345", name = "HDFC Swiggy" }]
